<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <context-param>
        <param-name>jabm.config</param-name>
        <param-value>/multiasset/main.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.investovator.utils.SystemPropertiesHelper</listener-class>
    </listener>

    <servlet>
        <servlet-name>test</servlet-name>
        <jsp-file>/WEB-INF/classes/test/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>graphData</servlet-name>
        <jsp-file>/WEB-INF/classes/test/graphData.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>graphData</servlet-name>
        <url-pattern>/graphData</url-pattern>
    </servlet-mapping>


</web-app>